h1
{
    color:indigo;
    font-size: xx-large;
    padding-left: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}
h2
{
    color:rgb(39, 0, 130);
    font-size: xx-large;
    padding-left: 50px;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}
content
{
    color:indigo;
    font-size: large;
    padding-left: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}